<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'visited_places_app/css/style.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>

  <div class="jumbotron">
    <h1 class="display-3">Привет!</h1>
    <p class="lead">Это приложение позволяет хранить воспоминания о посещённых местах.</p>
      <hr class="my-4">
      <p>Авторизуйтесь, чтобы попробовать.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% provider_login_url 'facebook' method='js_sdk' %}" role="button">Войти с помощью Facebook</a>
      </p>
  </div>

  </body>
</html>